.about{
  background-color: #212121;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (max-width: 768px) {
  .about {
    height: 150vh;
  }
}

.title {
  position: relative;
  left: -35%;
  top: -5%;
  font-size: calc(24px + 2vmin);
  color: #fec397;
}

.title2 {
  position: relative;
  left: -35%;
  top: 5%;
  font-size: calc(24px + 2vmin);
  color: #fec397;
}

.container{
  width: 70%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}

.detail{
  position: relative;
  width: 50%;
}

.text1{
  color: #fec397;
  font-size: calc(12px + 1vmin);
}

.text2 {
  color: #d28a7c;
  font-size: calc(12px + 1vmin);
}

.text3 {
  color: #fec397;
  font-size: calc(12px + 1vmin);
}

.skills{
  width: 50%;
  padding-left: 10%;
  color: #fec397;
}

@media (max-width: 768px) {
  .skills {
    width: 100%;
    padding-left: 0;
  }
}

.detail .reveal {
  position: relative;
  transform: translateY(90px);
  opacity: 0;
  transition: 1s all ease;
}

.detail .reveal.active {
  transform: translateY(0);
  opacity: 1;
}

.btn {
  width: 20%;
  height: 20%;
  margin-top: 2%;
  margin-bottom: 3%;
  background-color: #fec397;
  color: white;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  font-weight: bold;
}