.contact{
  background-color: #212121;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  position: relative;
  left: -35%;
  top: -5%;
  font-size: calc(24px + 2vmin);
  color: #fec397;
}

@media (max-width: 768px) {
  .title {
    left: -25%;
  }
}

.title2 {
  position: relative;
  left: -35%;
  top: 5%;
  font-size: calc(24px + 2vmin);
  color: #fec397;
}

@media (max-width: 768px) {
  .title2 {
    left: -25%;
  }
}

.container-co{
  width: 60%;
  height: auto;
  position: relative;
  padding: 1rem;
  color: white;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 1rem;
  border: 0.1rem solid rgba(255, 255, 255, 0.2);
  box-shadow: rgba(0, 0, 0, 0.5);
}

@media (max-width: 768px) {
  .container-co h1 {
    font-size: calc(14px + 1vmin);
  }
}

.inputbox{
  position: relative;
  width: 90%;
  margin-top: 1%;
}

.inputbox input{
  width: 100%;
  padding: 1rem;
  border: 0.1rem solid white;
  border-top: none;
  border-left: none;
  border-right: none;
  background: rgba(255, 255, 255, 0.1);
  outline: none;
  color: white;
  font-size: 1rem;
}

.inputbox textarea {
  width: 100%;
  padding: 1rem;
  border: 0.1rem solid white;
  border-top: none;
  border-left: none;
  border-right: none;
  background: rgba(255, 255, 255, 0.1);
  outline: none;
  color: white;
  font-size: 1rem;
}

.inputbox input:valid,
.inputbox input:focus {
  border: 0.1rem solid #fec397;
  border-top: none;
  border-left: none;
  border-right: none;
}

.inputbox textarea:valid,
.inputbox textarea:focus {
  border: 0.1rem solid #fec397;
  border-top: none;
  border-left: none;
  border-right: none;
}

.inputbox span{
  position: absolute;
  top: 1rem;
  padding-left: 1rem;
  pointer-events: none;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.5);
  transition: 0.5s all ease;;
}

.inputbox input:valid ~span,
.inputbox input:focus ~span{
  color: #fec397;
  font-size: 0.8rem;
  transform:  translateY(-1rem);
}

.inputbox textarea:valid~span,
.inputbox textarea:focus~span {
  color: #fec397;
  font-size: 0.8rem;
  transform: translateY(-1rem);
}

.btn{
  width: 10%;
  height: 10%;
  margin-top: 2%;
  /* margin-bottom: 3%; */
  background-color: #fec397;
  color: #212121;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  font-weight: bold;
  transition: all 1s ease-in-out;
  position: relative;
  transition: 0.5s;
  transition-delay: 1s;
  overflow: hidden;
}

@media (max-width: 768px) {
  .btn {
    width: 20%;
    height: 10%;
  }
}

.btn.active {
  margin-top: 2%;
  /* margin-bottom: 2%; */
  width: 50%;
  height: 2%;
  animation: btnWidth 0.5s linear forwards;
  animation-delay: 4s;
}

@keyframes btnWidth {
  0% {
      width: 50%;
      height: 10%;
  }
  100% {
      width: 10%;
      height: 10%;
  }
}

.btn.active::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-color: #d28a7c;
  width: 0%;
  height: 100%;
  animation: progressBar 8s linear forwards;
  animation-delay: 1s;
}

@keyframes progressBar {
  0%
  {
    width: 0%;
    height: 100%;
  }
  30%,95%
  {
    width: 100%;
    height: 100%;
  }
  100% 
  {
    width: 100%;
    height: 0%;
  }
}

.send{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  transition: all 0.5s ease-in-out;
}

.btn.active .send {
  transform: translate(-50%, 150%);
}

.sendText {
  padding-left: 10%;
}
